version: "3.9"

services:
  db:
    image: postgres:16
    container_name: product_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: productdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: product_redis
    restart: always
    ports:
      - "6379:6379"

  api:
    build: .
    container_name: product_api
    depends_on:
      - db
      - redis
    environment:
      DATABASE_URL: postgresql://postgres:password@db:5432/productdb
      REDIS_HOST: redis
      REDIS_PORT: 6379
      CACHE_TTL_SECONDS: 3600
    ports:
      - "8000:8000"

volumes:
  postgres_data:
